.tittle {
  color: rgb(233, 45, 45);
}

.text1 {
  color: rgb(61, 99, 204);
}

.texto {
  color:rgb(123, 123, 133);
  font-size: 16px;
}

.uno {
  color: blue;
  background-color: rgb(248, 255, 157);
}

.fondo1 {
  background-color: black;
  color: yellow;
}