:root{

}

.p1 {
  color: burlywood;
}

.p2 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p3 {
  font-family: Tahoma;
}

.p4 {
  font-family: 'Roboto', sans-serif;
}

.p5 {
  font-family: 'Hurricane', cursive;
  font-family: 'Smokum', cursive;
}