.ejer2 {
  width: 500px;
  margin: auto;
  background-color: skyblue;
  text-align: center;
  padding: 100px 0px;
}

.img-1 {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}

.div2 {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 60px 0px;
}